@{
    ViewData["Title"] = "Get to Know Joel";
}
<!-- About Section-->
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Joel</span></h2>
                    <p class="lead fw-light mb-4">My name is Joel and I love movies.</p>
                    <p class="text-muted">Here is my <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
                    <a href="https://baconsale.com/">
                        <img src="/images/Baconsale.jpg" width="400" height="300"><img />
                    </a>
                    <p class="text-muted">Here is my <a href="https://baconsale.com/">Baconsale</a> Site</p>

                </div>
            </div>
        </div>
    </div>
</section>
        </main>
